/* My global color palette */
* {
  box-sizing: border-box;
}

.card {
  text-align: left;
  background: white;
  box-shadow: var(--global-shadow);
  border-radius: var(--global-br);
  padding: var(--global-spacing);
}

:root {
  --twitter-blue: #69a0ef;
  --global-spacing: 20px;
  --global-width: min(800px, 100vw);
  --global-br: 7px;
  --global-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

button, .btnStyle{
  background: var(--twitter-blue);
  color: white;
  border: 0;
  padding: 0.4rem;
  border-radius: var(--global-br);
  transition: 0.2s;
  align-self: center;
}

button:hover, .btnStyle:hover {
  background: black;
  box-shadow: var(--global-shadow);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
